In [2]:
import pandas as pd
import numpy as np

In [3]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
ratings.pivot(index='userId', columns='movieId', values='rating').shape

(610, 9724)

In [13]:
ratings = ratings.drop('timestamp',axis=1)

In [20]:
user1 = (ratings
         .rename(index=str, columns={"userId": "userId2", "rating": "rating2"}))

## Memory-based

**Ejercicio**: Implementa el algoritmo para predecir los rating de alg√∫n usuario.

In [25]:
join = (ratings
        .merge(user1, how='left', on='movieId')
        .query('userId != userId2')
       )

In [26]:
join.shape

(5823864, 5)

In [23]:
import os

In [24]:
statinfo = os.stat(join)
statinfo.st_size

TypeError: stat: path should be string, bytes, os.PathLike or integer, not DataFrame

In [12]:
A.merge(B,how='inner',on='A')

   A  B  C
0  x  1  3
1  x  1  4
2  y  2  5
3  y  2  6

## Model-based

In [6]:
reader = Reader(rating_scale=(0.5, 5.0))

# el orden de las columnas importa
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

In [7]:
data

In [9]:
from surprise import KNNBasic
from surprise import accuracy
from surprise.model_selection import KFold

# define a cross-validation iterator
kf = KFold(n_splits=3)

algo = KNNBasic()

for trainset, testset in kf.split(data):

    # train and test algorithm.
    algo.fit(trainset)
    predictions = algo.test(testset)

    # Compute and print Root Mean Squared Error
    accuracy.rmse(predictions, verbose=True)

Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9847
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9774
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 0.9797